# Chapter 4 - Exericse 4: Pokemon

Hướng dẫn chung:
1. Tạo DataFrame từ Dictionary: <p style="color:blue">biến_dataframe = pd.DataFrame(<biến dictionary>)</p>

### Thực hiện các yêu cầu sau, và đối chiếu với kết quả Output:

In [30]:
# Cho dictionary như sau:
raw_data = {"name": ['Bulbasaur', 'Charmander','Squirtle','Caterpie'],
            "evolution": ['Ivysaur','Charmeleon','Wartortle','Metapod'],
            "type": ['grass', 'fire', 'water', 'bug'],
            "hp": [45, 39, 44, 45],
            "pokedex": ['yes', 'no','yes','no']                        
            }

In [31]:
# Import thư viện
import pandas as pd

In [32]:
# Câu 1: Tạo dataframe pokemon từ dictionary raw_data
pokemon = pd.DataFrame(raw_data)
# Xem kiểu dữ liệu (type) và kích thước (shape) của pokemon
print(type(pokemon))
print(pokemon.shape)
# In nội dung các dòng dữ liệu đầu tiên (head) của pokemon
pokemon.head()

<class 'pandas.core.frame.DataFrame'>
(4, 5)

         name   evolution   type  hp pokedex
0   Bulbasaur     Ivysaur  grass  45     yes
1  Charmander  Charmeleon   fire  39      no
2    Squirtle   Wartortle  water  44     yes
3    Caterpie     Metapod    bug  45      no

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
 <pre>&lt;class 'pandas.core.frame.DataFrame'&gt;
(4, 5)
</pre>

<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>evolution</th>
      <th>type</th>
      <th>hp</th>
      <th>pokedex</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bulbasaur</td>
      <td>Ivysaur</td>
      <td>grass</td>
      <td>45</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Charmander</td>
      <td>Charmeleon</td>
      <td>fire</td>
      <td>39</td>
      <td>no</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Squirtle</td>
      <td>Wartortle</td>
      <td>water</td>
      <td>44</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Caterpie</td>
      <td>Metapod</td>
      <td>bug</td>
      <td>45</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [33]:
# Câu 2: Sắp xếp lại các cột của dataframe pokemon theo thứ tự 'name', 'type', 'hp', 'evolution','pokedex'. 
pokemon = pokemon[['name', 'type', 'hp', 'evolution', 'pokedex']]
pokemon

         name   type  hp   evolution pokedex
0   Bulbasaur  grass  45     Ivysaur     yes
1  Charmander   fire  39  Charmeleon      no
2    Squirtle  water  44   Wartortle     yes
3    Caterpie    bug  45     Metapod      no

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>type</th>
      <th>hp</th>
      <th>evolution</th>
      <th>pokedex</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bulbasaur</td>
      <td>grass</td>
      <td>45</td>
      <td>Ivysaur</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Charmander</td>
      <td>fire</td>
      <td>39</td>
      <td>Charmeleon</td>
      <td>no</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Squirtle</td>
      <td>water</td>
      <td>44</td>
      <td>Wartortle</td>
      <td>yes</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Caterpie</td>
      <td>bug</td>
      <td>45</td>
      <td>Metapod</td>
      <td>no</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [34]:
# Câu 3: Tạo thêm cột place có giá trị mỗi ô là nơi cho pokemon
# Ví dụ: ['park','street','lake','forest']
pokemon['place'] = ['park','street','lake','forest']
pokemon

         name   type  hp   evolution pokedex   place
0   Bulbasaur  grass  45     Ivysaur     yes    park
1  Charmander   fire  39  Charmeleon      no  street
2    Squirtle  water  44   Wartortle     yes    lake
3    Caterpie    bug  45     Metapod      no  forest

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  
<div>

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right">
      <th></th>
      <th>name</th>
      <th>type</th>
      <th>hp</th>
      <th>evolution</th>
      <th>pokedex</th>
      <th>place</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Bulbasaur</td>
      <td>grass</td>
      <td>45</td>
      <td>Ivysaur</td>
      <td>yes</td>
      <td>park</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Charmander</td>
      <td>fire</td>
      <td>39</td>
      <td>Charmeleon</td>
      <td>no</td>
      <td>street</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Squirtle</td>
      <td>water</td>
      <td>44</td>
      <td>Wartortle</td>
      <td>yes</td>
      <td>lake</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Caterpie</td>
      <td>bug</td>
      <td>45</td>
      <td>Metapod</td>
      <td>no</td>
      <td>forest</td>
    </tr>
  </tbody>
</table>
</div>

</details>

In [35]:
# Câu 4: Cho biết kiểu dữ liệu (dtypes) của pokemon.
print(pokemon.dtypes)

name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object

<details>
  <summary>Nhấn vào đây để xem kết quả!</summary>
  
<pre>name         object
type         object
hp            int64
evolution    object
pokedex      object
place        object
dtype: object</pre>

</details>